:root {
    --navigation-height: 50px;
    --max-width: 800px;
}

* {
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

div {
    margin: 0;
    padding: 0;
}

#navigation {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    width: min(var(--max-width), 100%);
    height: var(--navigation-height);
}

#toggle-preview {
    width: 7em;
    height: 2em;
}

#editor-area {
    margin: 0 auto;
    width: min(var(--max-width), 100%);
    height: calc(100% - var(--navigation-height));
}
#editor {
    position:absolute;
    width: min(var(--max-width), 100%);
    height: calc(100% - var(--navigation-height));
    resize: none;
    border: none;
    outline: none;
}
#preview {
    position: absolute;
    display: none;
    width: min(var(--max-width), 100%);
    height: calc(100% - var(--navigation-height));
    word-break: break-all;
    overflow-y: auto;
}
#editor-area.preview #editor {
    display: none;
}
#editor-area.preview #preview {
    display: block;
}